@namespace PureBlazor.Components

<a class="inline-flex justify-center rounded-sm text-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 px-3.5 py-2.5 font-semibold focus-visible:outline-brand-600 text-white bg-brand-600 hover:bg-brand-800"
   href="@Url" target="@GetTarget()">@ChildContent</a>

@code {
    // TODO: add variants like in button
    // TODO: maybe reuse the base?
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public LinkTarget Target { get; set; }

    public string GetTarget()
    {
        switch (Target)
        {
            case LinkTarget.NewTab:
                return "_blank";
            default:
                return "_self";
        }
    }
}
