@inherits PureComponent
@namespace Pure.Blazor.Components
<nav class="@ApplyStyle(OuterCss)" aria-label="Breadcrumb">
    <ol class="@ApplyStyle(InnerCss)">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </ol>
</nav>

@code {
    internal List<PureBreadcrumbItem> Breadcrumbs { get; } = [];
    private string InnerCss => "inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse";

    protected override void BuildCss()
    {
        OuterCss = "text-gray-700"; //border-1 border-gray-200 rounded-lg bg-gray-50
    }

    internal void AddBreadcrumb(PureBreadcrumbItem breadcrumb)
    {
        Breadcrumbs.Add(breadcrumb);
        StateHasChanged();
    }

}
