@inherits PureComponent

@if (Current)
{
    <li aria-current="page">
        <div class="flex items-center">
            <PureIcon Icon="IconChevronRight" Size="PureSize.Small" Styles="rtl:rotate-180"></PureIcon>
            <span class="ms-1 text-sm text-gray-800/90 md:ms-2">@ChildContent</span>
        </div>
    </li>
}
else
{
    <li>
        <div class="flex items-center">
            <PureIcon Icon="IconDashboard" Size="PureSize.Small"></PureIcon>
            <a href="@Url" class="ms-1 text-sm font-medium text-gray-800 hover:text-brand-800 md:ms-2">@ChildContent</a>
        </div>
    </li>
}

@code {
    [Parameter] public bool Current { get; set; }
    [Parameter] public string? Url { get; set; }
    [CascadingParameter] public required PureBreadcrumb Parent { get; set; }

    protected override void OnInitialized()
    {
        Parent.AddBreadcrumb(this);
    }

}
