@namespace Pure.Blazor.Components
@inherits PureComponent

<div class="@ApplyStyle(InternalCss)">
    @ChildContent
</div>

@code {
    private string? InternalCss { get; set; }
    [Parameter] public bool Divider { get; set; } = true;
    [Parameter] public PureAlign Align { get; set; }

    protected override void BuildCss()
    {
        var layout = "pt-4 border-t mt-4 flex";
        var align = Align switch
        {
            PureAlign.Start => "justify-start",
            PureAlign.Center => "justify-center",
            PureAlign.End => "justify-end",
            _ => ""
        };

        var divider = Divider ? "border-gray-200" : "border-transparent";

        InternalCss = $"{layout} {align} {divider}";
    }

}
