@namespace Pure.Blazor.Components
@inherits PureComponent
<div class="@ApplyStyle(ContainerCss)">
    <div class="flex gap-4 items-center">
        @if (Icon is not null)
        {
            <div class="pl-1">
                @Icon
            </div>
        }
        <div class="flex flex-col">
            <div class="font-bold">@Title</div>
            <div class="@ContentContainerStyles">
                @if (ChildContent != null)
                {
                    @ChildContent
                }
                else
                {
                    @Body
                }
            </div>
        </div>
    </div>
</div>

@code {
    public string? ContainerCss { get; set; }
    [Parameter] public string? Title { get; set; }

    [Parameter] public string? Body { get; set; }

    [Parameter] public Accent Accent { get; set; } = Accent.Brand;
    [Parameter] public PureVariant Variant { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }

    /// <summary>
    /// Styles applied to the content container
    /// </summary>
    [Parameter]
    public string? ContentContainerStyles { get; set; }

    protected override void BuildCss()
    {
        ContainerCss = $"{Css.Base} {Css.Variant(Variant, Accent)}";
    }

}
