@namespace Pure.Blazor.Components
@using Pure.Blazor.Components.Feedback
@inherits PureComponent

<div class="@ApplyStyle($"{Css.Base} {Css.Accent(Accent)}")">
    <div class="flex justify-between">
        <div class="font-sm">
            @ChildContent
        </div>
        <div>
            <svg @onclick="DismissAsync" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer text-gray-400 hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </div>
    </div>
</div>

@code {
    [Parameter] public Accent Accent { get; set; }
    [Parameter] public required Alert Alert { get; set; }
    [Parameter] public EventCallback<Alert> OnDismiss { get; set; }
    private async Task DismissAsync()
    {
        await OnDismiss.InvokeAsync(Alert);
    }
}
