@using System.Reflection;
<PureTabs Variant="TabVariant.Outline">
    <PureTabContent Title="Demo">
        <PureCard Styles="border-t-0 border-b-1 border-l-1 border-r-1">
            @ChildContent
        </PureCard>
    </PureTabContent>
    <PureTabContent Title="Component params">
        <PureCard>
            <table class="text-sm leading-normal w-full">
                <thead>
                <tr>
                    <th class="py-2 border-b text-left">Name</th>
                    <th class="py-2 border-b text-left">Type</th>
                    <th class="py-2 border-b text-left">Description</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var p in Properties)
                {
                    <tr>
                        <td class="py-2 border-b text-left">
                            @p.Name
                        </td>
                        <td class="py-2 border-b font-mono text-left text-sky-500">
                            @p.PropertyType.Name
                        </td>
                        <td class="py-2 border-b text-left">
                            @p.GetDocumentation()
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @ComponentParams
        </PureCard>
    </PureTabContent>
</PureTabs>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public Type? Component { get; set; }

    [Parameter] public RenderFragment? ComponentParams { get; set; }

    private List<PropertyInfo> Properties { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Component == null)
        {
            return;
        }

        try
        {
            Properties = Component.GetProperties().ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
