@* @page "/blog" *@
@layout BlogLayout
<PageTitle>Expert .NET Blazor Guides and Articles | PureBlazor Blog</PageTitle>

<h1 class="mt-6 text-2xl font-bold leading-7 text-gray-800 sm:truncate sm:text-3xl sm:tracking-tight">Expert .NET Blazor Guides and Articles</h1>
@code {

}
