@page "/"
@attribute [PureBlazorPage("home")]

<PageTitle>PureBlazor - Blazor CMS & Static Site Generator for .NET</PageTitle>

<div class="bg-brand-800 flex flex-col px-16 py-16 md:items-center">
    <h1 class="text-5xl font-bold sm:tracking-tight text-gray-200 sm:text-5xl">
        Build anything. <span class="text-brand-300 inline-block">Ship faster.</span>
    </h1>
    <div class="mt-12 text-gray-200 text-xl sm:text-2xl font-semibold sm:tracking-tight">
        The modern CMS for <span class="text-brand-300">.NET Developers.</span>
    </div>
    <div class="mt-10 sm:mt-12 subpixel-antialiased">
        @* <h3 class="max-w-2xl text-xl font-bold tracking-tight text-brand-200 sm:text-2xl mb-2">Join our newsletter:</h3> *@
        @* <ContactForm @rendermode="InteractiveWebAssembly"/> *@
        <a href="/waitlist" class="block w-full rounded-md bg-gradient-to-r from-brand-600 to-brand-500 px-4 py-3 font-medium text-white shadow hover:from-brand-700 hover:to-brand-600 focus:outline-none focus:ring-2 focus:ring-brand-400 focus:ring-offset-2 focus:ring-offset-gray-900 cursor-pointer">
            Get started for free
        </a>

    </div>
</div>
<div class="px-16 py-16 items-center">
    <div>
        <h2 class="text-4xl font-bold tracking-tight text-brand-700 sm:text-5xl">
            What about <span class="text-gray-700">features?</span>
        </h2>
    </div>
    <div class="mt-10 sm:mt-12 mb-10">
        <dl class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-800 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd"/>
                    </svg>
                    Blazor &amp; Site Hosting.
                </dt>
                <dd class="inline">Build and deploy .NET Blazor apps with the pureblazor platform.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-1 top-1 h-5 w-5 text-brand-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"/>
                    </svg>

                    Native AI.
                </dt>
                <dd class="inline">Get help generating titles, summaries, references, tags, and more.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 2.5c-1.31 0-2.526.386-3.546 1.051a.75.75 0 01-.82-1.256A8 8 0 0118 9a22.47 22.47 0 01-1.228 7.351.75.75 0 11-1.417-.49A20.97 20.97 0 0016.5 9 6.5 6.5 0 0010 2.5zM4.333 4.416a.75.75 0 01.218 1.038A6.466 6.466 0 003.5 9a7.966 7.966 0 01-1.293 4.362.75.75 0 01-1.257-.819A6.466 6.466 0 002 9c0-1.61.476-3.11 1.295-4.365a.75.75 0 011.038-.219zM10 6.12a3 3 0 00-3.001 3.041 11.455 11.455 0 01-2.697 7.24.75.75 0 01-1.148-.965A9.957 9.957 0 005.5 9c0-.028.002-.055.004-.082a4.5 4.5 0 018.996.084V9.15l-.005.297a.75.75 0 11-1.5-.034c.003-.11.004-.219.005-.328a3 3 0 00-3-2.965zm0 2.13a.75.75 0 01.75.75c0 3.51-1.187 6.745-3.181 9.323a.75.75 0 11-1.186-.918A13.687 13.687 0 009.25 9a.75.75 0 01.75-.75zm3.529 3.698a.75.75 0 01.584.885 18.883 18.883 0 01-2.257 5.84.75.75 0 11-1.29-.764 17.386 17.386 0 002.078-5.377.75.75 0 01.885-.584z" clip-rule="evenodd"/>
                    </svg>
                    Identity.
                </dt>
                <dd class="inline">Use our built-in identity platform.</dd>
            </div>

            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd"/>
                    </svg>
                    Secure by default.
                </dt>
                <dd class="inline">Your data is encrypted at rest and in transit. SSL certificates are automatically provisioned and renewed.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.84 1.804A1 1 0 018.82 1h2.36a1 1 0 01.98.804l.331 1.652a6.993 6.993 0 011.929 1.115l1.598-.54a1 1 0 011.186.447l1.18 2.044a1 1 0 01-.205 1.251l-1.267 1.113a7.047 7.047 0 010 2.228l1.267 1.113a1 1 0 01.206 1.25l-1.18 2.045a1 1 0 01-1.187.447l-1.598-.54a6.993 6.993 0 01-1.929 1.115l-.33 1.652a1 1 0 01-.98.804H8.82a1 1 0 01-.98-.804l-.331-1.652a6.993 6.993 0 01-1.929-1.115l-1.598.54a1 1 0 01-1.186-.447l-1.18-2.044a1 1 0 01.205-1.251l1.267-1.114a7.05 7.05 0 010-2.227L1.821 7.773a1 1 0 01-.206-1.25l1.18-2.045a1 1 0 011.187-.447l1.598.54A6.993 6.993 0 017.51 3.456l.33-1.652zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    Powerful API.
                </dt>
                <dd class="inline">Built for developers. Build plugins for yourself or for the plugin marketplace. Connect to anything.</dd>
            </div>

            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-1 top-1 h-5 w-5 text-brand-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5"/>
                    </svg>

                    Live editor.
                </dt>
                <dd class="inline">Write your content with the live editor. Instant feedback as you type.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 24" stroke-width="1.5" stroke="currentColor" class="absolute left-1 top-1 h-6 w-6 text-brand-700">
                        <path d="M18.724 1.714c-4.538 0-7.376 2.286-8.51 6.857 1.702-2.285 3.687-3.143 5.957-2.57 1.296.325 2.22 1.271 3.245 2.318 1.668 1.706 3.6 3.681 7.819 3.681 4.539 0 7.376-2.286 8.51-6.857-1.701 2.286-3.687 3.143-5.957 2.571-1.294-.325-2.22-1.272-3.245-2.32-1.668-1.705-3.6-3.68-7.819-3.68zM10.214 12c-4.539 0-7.376 2.286-8.51 6.857 1.701-2.286 3.687-3.143 5.957-2.571 1.294.325 2.22 1.272 3.245 2.32 1.668 1.705 3.6 3.68 7.818 3.68 4.54 0 7.377-2.286 8.511-6.857-1.702 2.286-3.688 3.143-5.957 2.571-1.295-.326-2.22-1.272-3.245-2.32-1.669-1.705-3.6-3.68-7.82-3.68z" class="fill-sky-400"></path>
                    </svg>
                    Tailwind built-in.
                </dt>
                <dd class="inline">Tailwind CSS Magic. Use it in <span class="font-semibold">Blazor Blocks</span>™. Use it on content pages. It just works.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-1 top-1 h-5 w-5 text-brand-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"/>
                    </svg>

                    Eject anytime.
                </dt>
                <dd class="inline">Eject your site pages and data anytime to own the entire experience.</dd>
            </div>
        </dl>
    </div>
</div>
<div class="px-16 py-16 items-center">
    <div>
        <h2 class="text-4xl font-bold tracking-tight text-brand-700 sm:text-5xl">
            See our <span class="text-gray-700">roadmap</span>
        </h2>
    </div>
    <div class="mt-10 sm:mt-12 mb-10">
        <dl class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-800 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd"/>
                    </svg>
                    Visual Page Builder.
                </dt>
                <dd class="inline">Build visually with <span class="font-semibold">Blazor Blocks</span>™. Start with the page builder and eject to Pure Blazor anytime.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-1 top-1 h-5 w-5 text-brand-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941"/>
                    </svg>

                    Analytics.
                </dt>
                <dd class="inline">Our built-in analytics offer an integrated solution, complete with GDPR compliance and opt-in cookie banners.</dd>
            </div>
            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"/>
                        <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd"/>
                    </svg>
                    Automatic backups.
                </dt>
                <dd class="inline">Peace of mind. Backup to our cloud storage or to your own Azure Blob, S3 bucket, or GitHub repository.</dd>
            </div>

            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute left-1 top-1 h-5 w-5 text-brand-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z"/>
                    </svg>

                    E-commerce.
                </dt>
                <dd class="inline">First class support for your e-commerce store.</dd>
            </div>

            <div class="relative pl-9">
                <dt class="inline font-semibold text-brand-800">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-brand-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd"/>
                    </svg>
                    Background jobs.
                </dt>
                <dd class="inline">The easiest framework for recurring jobs, period. Just drop in your code and you're done.</dd>
            </div>
        </dl>
    </div>
</div>
