@inherits InteropComponent

<!-- Dropdowns take up full width of their parent container -->
<div class="relative inline-block text-left group/dropdown w-full">
    <div>
        <button type="button" class="@ApplyStyle($"{Css.Base} {Css.Size(Size)}")">
            @if (TitleFragment is not null)
            {
                @TitleFragment
            }
            else
            {
                @Title
            }
            <PureIcon Size="Size" Icon="Icon"></PureIcon>
        </button>
    </div>

    <div class="@($"{Css.InnerContainer?.Base}") @(Position == DropdownPosition.Right ? "right-0" : "left-0")"
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="menu-button"
         tabindex="-1">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
