@inherits InteropComponent

<div class="relative inline-block text-left group/dropdown">
    <div>
        <button type="button" class="@ApplyStyle($"{Css.Base} {Css.Size(Size)}")">
            @ChildContent
            <PureIcon Size="Size" Icon="Icon"></PureIcon>
        </button>
    </div>

    <div class="@($"{Css.InnerContainer?.Base}") @(Position == DropdownPosition.Right ? "right-0" : "left-0")"
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="menu-button"
         tabindex="-1">
        <CascadingValue Value="this">
            @MenuItems
        </CascadingValue>
    </div>
</div>
