@inherits PureButtonBase

<button
    @attributes="InputAttributes"
    class="@InternalCss @Styles"
    disabled="@Disabled"
    @onmousedown="() => Pressed = true"
    @onmouseup="() => Pressed = false"
    @onclick="OnClicked">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</button>
