@namespace Pure.Blazor.Components.Buttons
@inherits PureButtonBase

<button
    type="button"
    class="@InternalCss @Styles"
    disabled="@Disabled"
    @onclick="OnClicked">
    <PureIcon Icon="Icon" Size="Size"/>
</button>
