@inherits InteropComponent

<div class="relative inline-block text-left group/dropdown">
    <div>
        <button type="button" class="@ApplyStyle("inline-flex gap-2 justify-center rounded-md px-2 py-2 text-sm font-semibold text-gray-700 border hover:border-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-300") @Styles">

            @ChildContent
            <PureIcon Type="IconChevronUpDown"></PureIcon>
        </button>
    </div>

    <div class="origin-top-right absolute @(Position == DropdownPosition.Right ? "right-0" : "left-0") mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none invisible group-focus-within/dropdown:visible group-active/dropdown:visible z-10"
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="menu-button"
         tabindex="-1">
        <div class="py-1 flex flex-col" role="none">
            @foreach (var item in Items)
            {
                <button @onclick="async e => { await OnItemClick(e, item); }" class="text-gray-700 hover:bg-gray-200 block px-4 py-2 text-sm grow text-left" role="menuitem" tabindex="-1">@item.Text</button>
            }
        </div>
    </div>
</div>
