@namespace Pure.Blazor.Components.Buttons
@inherits PureButtonBase

<button
    type="button"
    @attributes="InputAttributes"
    class="@InternalCss @Styles"
    disabled="@Disabled"
    @onmousedown="() => Pressed = true"
    @onmouseup="() => Pressed = false"
    @onclick="OnClicked">
    <PureIcon Type="Icon" Size="Size"/>
</button>
