@using Microsoft.JSInterop
@using Pure.Blazor.Components.Display
@inherits InteropComponent
<button type="button"
        @onclick="OnItemClick"
        @onclick:stopPropagation="true" @onclick:preventDefault="true"
        class="@(ApplyStyle($"{Css.Base} {Css.Size(Parent.Size)} {Css.Accent(Accent)}"))"
        role="menuitem" tabindex="-1">
    @ChildContent
</button>

@code {

    // todo: use source generator to generate the script path
    protected override string ScriptPath => "Buttons/PureDropdown.razor";

    [CascadingParameter, EditorRequired] public required PureDropdown Parent { get; set; }
    public EventCallback<string> OnItemSelected { get; set; }

    [Parameter] public Accent Accent { get; set; }

    private async Task OnItemClick(MouseEventArgs _)
    {
        await Module.InvokeVoidAsync("blur");
        await OnItemSelected.InvokeAsync();
    }

}
