@inherits PureComponent
<h2 id="@Id" class="text-xl text-gray-900 dark:text-slate-200 font-bold tracking-wide @Styles">@ChildContent</h2>

@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;
}
