@namespace Pure.Blazor.Components
@inherits PureComponent
<h2 id="@Id" class="text-xl text-gray-800 font-extrabold @Styles">@ChildContent</h2>

@code {

    [Parameter] public string Id { get; set; } = string.Empty;
}
