@inherits PureComponent
<div class="flex flex-col md:flex-row justify-between items-center gap-4 sm:gap-0">
    <Header1 Id="@Id">@ChildContent</Header1>
    @if (Suffix is not null)
    {
        @Suffix
    }
</div>
@if (!string.IsNullOrWhiteSpace(Subtitle))
{
    <p class="mt-2 text-sm text-gray-800">@Subtitle</p>
    <hr class="my-4 border-gray-200"/>
}
else
{
    <hr class="mt-2 mb-4 border-gray-200"/>
}

@code {

    [Parameter] public string Id { get; set; } = string.Empty;

    [Parameter] public string? Subtitle { get; set; }
    [Parameter] public RenderFragment? Suffix { get; set; }
}
