@inherits PureComponent
<div class="@ApplyStyle("font-semibold")">@ChildContent</div>

@code {

    // required styles for accessibility, not overridable
    // touch target should be at least 24px
    // make it the same here since this field is often combined with <PureLink>
    // https://www.w3.org/WAI/WCAG21/Understanding/touch-target-size.html
    private string AccessibilityStyles => "inline-block py-1";
}
