@inject ILogger<PureDropdown> Log

<Header1 Id="dropdowns">Dropdowns</Header1>
<div class="mb-10">
    <Header2>Button dropdown</Header2>
    <div class="flex items-baseline">
        <PureDropdown Items="Items" OnItemSelected="ItemSelected" Styles="border-gray-300 hover:border-gray-400">Settings</PureDropdown>
        <p class="dark:text-gray-200 ml-4 mb-4">
            <strong>Selected: </strong> @MenuItemClicked
        </p>
    </div>

    <PureCode Text="@Markup" Language="@PureCode.Razor" Caption="Example" Styles="my-4"/>
</div>

@code {
    public string MenuItemClicked { get; set; } = "Select a menu item";

    public List<DropdownMenuItem> Items { get; set; } = new();

    protected override void OnInitialized()
    {
        Items.Add(new DropdownMenuItem { Text = "Menu item 1" });
        Items.Add(new DropdownMenuItem { Text = "Menu item 2" });
        Items.Add(new DropdownMenuItem { Text = "Menu item 3" });
        Items.Add(new DropdownMenuItem { Text = "Menu item 4" });
    }

    protected void ItemSelected(DropdownMenuItem item)
    {
        MenuItemClicked = item.Text ?? "";
    }

    private string Markup = @"<PureDropdown Items=""Items"">Settings</PureDropdown>

@code {
    private List<DropdownMenuItem> Items = new List<DropdownMenuItem>
    {
        new DropdownMenuItem { Text = ""Menu item 1"" }},
        new DropdownMenuItem { Text = ""Menu item 2"" }}
    };
}
";

}
