@inject ToastService Service

<Header1 Id="alerts">Alerts</Header1>
<div class="mb-10">
    <Header2>Basic toasts</Header2>
    <PureToast Accent="@Accent.Success">This is a success toast.</PureToast>
    <PureToast Accent="@Accent.Brand">This is an informational toast.</PureToast>
    <PureToast Accent="@Accent.Warning">This is a warning toast.</PureToast>
    <PureToast Accent="@Accent.Danger">This is an error toast.</PureToast>
</div>
<div class="mb-10">
    <Header2>Demo toasts</Header2>
    <PureButton OnClick="() => AddToast(Accent.Success)">Success toast</PureButton>
    <PureButton OnClick="() => AddToast(Accent.Danger)">Error toast</PureButton>
    <PureButton OnClick="() => AddToast(Accent.Brand)">Info toast</PureButton>
    <PureButton OnClick="() => AddToast(Accent.Warning)">Warning toast</PureButton>
</div>

@code {

    public async Task AddToast(Accent state)
    {
        await Service.AddToast("Adding random toast", state);
    }
}
