@layout DocsLayout
@rendermode InteractiveWebAssembly
@page "/dev"
@attribute [PureBlazorPage("components-dev")]
@using Theme = Pure.Blazor.Components.Primitives.Theme
@inject ILogger<Dev> Logger
<PageHeader>Dev Page</PageHeader>
<Paragraph Styles="mb-8">Kitchen sink page for testing.</Paragraph>
<div class="flex flex-col gap-8">
    <div>
        <Header2>Radio Group</Header2>
        <Header3 Styles="my-2">Basic</Header3>
        <PureRadioGroup Name="test">
            <PureRadio Checked="false" Title="Foo" Value="foo"></PureRadio>
            <PureRadio Checked="false" Title="Bar" Value="bar"></PureRadio>
            <PureRadio Checked="false" Title="Fuzz" Value="fuzz"></PureRadio>
        </PureRadioGroup>
        @* <PureLabel>Selected:</PureLabel> *@
        @* <PureText>@selectedRadio?.Value</PureText> *@
        <Header3 Styles="mb-2 mt-6">With Description</Header3>
        <PureRadioGroup Name="test">
            <PureRadio Checked="false"
                       Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                       Title="Foo"
                       Value="foo">
            </PureRadio>
            <PureRadio Checked="false"
                       Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                       Title="Bar"
                       Value="bar">
            </PureRadio>
        </PureRadioGroup>
    </div>
    <div>
        <Header2>Status Indicators</Header2>
        <Header3 Styles="my-2">Minimal</Header3>
        <PureColorIndicator></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Brand"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Danger"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Warning"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Success"></PureColorIndicator>

        <Header3 Styles="mb-2 mt-6">With Status Text</Header3>
        <PureColorIndicator Status="Default"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Brand" Status="Info"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Danger" Status="Error"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Warning" Status="Warning"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Success" Status="Success"></PureColorIndicator>

        <Header3 Styles="mb-2 mt-6">With Status Text and Title</Header3>
        <PureColorIndicator Status="Test" Title="Default"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Brand" Status="Test" Title="Brand"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Danger" Status="Test" Title="Danger"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Warning" Status="Test" Title="Warning"></PureColorIndicator>
        <PureColorIndicator Accent="Accent.Success" Status="Test" Title="Success"></PureColorIndicator>
    </div>
    <div class="flex flex-col mb-10 gap-3">
        <Header2>Pagination</Header2>
        <Header3 Styles="my-2">Left / Right only</Header3>
        <PurePagination></PurePagination>

        <Header3 Styles="mb-2 mt-6">Four pages</Header3>
        <PurePagination Total="100" Current="1" Siblings="4"></PurePagination>

        <Header3 Styles="mb-2 mt-6">Ten pages</Header3>
        <PurePagination Total="400" Current="1" Siblings="10"></PurePagination>

        <Header3 Styles="mb-2 mt-6">No theme</Header3>
        <CascadingValue Value="Theme.Off">
            <PurePagination Total="400" Current="1" Siblings="10"></PurePagination>
        </CascadingValue>

        <Header3 Styles="mb-2 mt-6">Custom theme</Header3>
        <CascadingValue Value="Theme.Off">
            <PurePagination Total="400" Current="1" Siblings="10" Styles="gap-4"></PurePagination>
        </CascadingValue>
    </div>
</div>

@code {
    // private PureRadio? selectedRadio = null;

    private void Callback(PureRadio radio)
    {
        Logger.LogInformation("Radio changed to {0}", radio.Value);
    }

}
