@layout DocsLayout
@rendermode InteractiveWebAssembly
@page "/components/flyout"
@attribute [PureBlazorPage("components-flyouts")]
<PageTitle>Flyout - PureBlazor Components</PageTitle>

<PageHeader Subtitle="Use a Flyout when you need more vertical real estate on a form, such as creating a new entity.">
    <ChildContent>
        Flyout
    </ChildContent>
    <Suffix>
        <SupportedRenderModes Wasm="true" Server="true"/>
    </Suffix>
</PageHeader>
<div class="mb-10 flex flex-col gap-8">
    <div class="flex flex-col gap-2">
        <Header2>Basic Flyout</Header2>
        <div class="flex items-baseline">
            <PureButton OnClick="OpenFlyout">Show Flyout</PureButton>
        </div>
        <Header3>Sample</Header3>
        <Snippet Loader="() => SnippetService.LoadSnippetFromSource(Samples.FlyoutBasic, Languages.Razor)"></Snippet>
    </div>
</div>
<PureFlyout Title="New entity" IsOpen="ShowFlyout">
    This is a flyout.
</PureFlyout>

<div class="mb-10 flex flex-col gap-8">
    <div class="flex flex-col gap-2">
        <Header2>Basic Flyout</Header2>
        <div class="flex items-baseline">
            <PureButton OnClick="() => ShowFlyoutWithActions = true">Show Flyout with Actions</PureButton>
        </div>
        <Header3>Sample</Header3>
        <Snippet Loader="() => SnippetService.LoadSnippetFromSource(Samples.FlyoutBasic, Languages.Razor)"></Snippet>
    </div>
</div>
<PureFlyout Title="New entity" IsOpen="ShowFlyoutWithActions">
    <ChildContent>
        This is a flyout.
    </ChildContent>
    <Actions>
        <PureButton OnClick="() => ShowFlyoutWithActions = false">Create entity</PureButton>
    </Actions>
</PureFlyout>

@code {
    [Inject] public required SnippetService SnippetService { get; set; }

    public bool ShowFlyout { get; set; }
    public bool ShowFlyoutWithActions { get; set; }

    public void OpenFlyout()
    {
        ShowFlyout = true;
    }

}
