@layout DocsLayout
@rendermode InteractiveWebAssembly
@page "/components/popovers"
@inject SnippetService SnippetService
<Header1 Id="alerts" Subtitle="Alerts can be triggered from code and disappear after the specified duration.">
    <ChildContent>
        Popovers
    </ChildContent>
    <Suffix>
        <SupportedRenderModes Wasm="true" Server="true"/>
    </Suffix>
</Header1>
<PageTitle>Popovers - PureBlazor Components</PageTitle>

<div class="flex flex-col gap-8 mb-8">
    <div>
        <Header2 Styles="mb-4">Basic Popovers</Header2>
        <Popover />
    </div>
</div>
<PureAlertProvider/>

@code {

}
