<div class="flex">
    <PureBadge Name="render-modes" Variant="PureVariant.Subtle" Accent="Brand">render modes</PureBadge>
    <PureList LabelledBy="render-modes">
        @if (Static)
        {
        <li>
            <PureBadge Variant="PureVariant.Outline">ssr</PureBadge>
        </li>
        }
        @if (Server)
        {
            <li>
                <PureBadge Variant="PureVariant.Outline">server</PureBadge>
            </li>
        }
        @if (Wasm)
        {
            <li>
                <PureBadge Variant="PureVariant.Outline">webassembly</PureBadge>
            </li>
        }
    </PureList>
</div>

@code {
    [Parameter]
    public bool Wasm { get; set; }
    [Parameter]
    public bool Server { get; set; }
    [Parameter]
    public bool Static { get; set; }
}
