@inherits PureComponent
<div class="@ColumnSpan @ApplyStyle(Styles)">
    @ChildContent
</div>
@code {
    protected override void OnParametersSet()
    {
        if (Span < 1 || Span > 12)
        {
            throw new ArgumentOutOfRangeException(nameof(Span), "Span must be between 1 and 12");
        }
    }

    /// <summary>
    /// The number of columns this element should span.
    /// </summary>
    [Parameter]
    public int Span { get; set; }

    public string ColumnSpan => $"col-span-{Span}";

    // TODO: use source generator to generate these constants
    internal const string ColumnSpan1 = "col-span-1";
    internal const string ColumnSpan2 = "col-span-2";
    internal const string ColumnSpan3 = "col-span-3";
    internal const string ColumnSpan4 = "col-span-4";
    internal const string ColumnSpan5 = "col-span-5";
    internal const string ColumnSpan6 = "col-span-6";
    internal const string ColumnSpan7 = "col-span-7";
    internal const string ColumnSpan8 = "col-span-8";
    internal const string ColumnSpan9 = "col-span-9";
    internal const string ColumnSpan10 = "col-span-10";
    internal const string ColumnSpan11 = "col-span-11";
    internal const string ColumnSpan12 = "col-span-12";
}
