@using Pure.Blazor.Components.Layout
@inherits PureComponent
@namespace Pure.Blazor.Components

<header class="@ApplyStyle(containerCss)">
    <PureContainer Styles="@innerContainerCss">
        @if (Prefix is not null)
        {
            <div class="flex items-center font-medium">
                @Prefix
            </div>
        }
        @if (Title is not null)
        {
            <a class="flex title-font font-medium items-center" href="/">
                <span class="text-xl">@Title</span>
            </a>
        }


        <nav class="@(ApplyStyle("md:ml-auto flex flex-wrap items-center text-base justify-end grow gap-4", NavStyles))">
            @ChildContent
        </nav>
    </PureContainer>
</header>

@code {
    private string containerCss = "";
    private string innerContainerCss = "";

    [Parameter] public string? Title { get; set; }

    [Parameter] public string ContainerCss { get; set; } = "text-gray-200 bg-brand-900 body-font border-b-1 border-brand-600";

    [Parameter] public Accent Accent { get; set; } = Accent.Brand;

    [Parameter] public PureSize Height { get; set; } = PureSize.Medium;
    [Parameter] public PureContainerType InnerContainer { get; set; }
    [Parameter] public string? InnerContainerStyles { get; set; }
    [Parameter] public string? NavStyles { get; set; }
    [Parameter] public RenderFragment? Prefix { get; set; }

    protected override void BuildCss()
    {
        containerCss = Accent switch
        {
            Accent.Default => "text-gray-400 bg-gray-900 body-font border-b-1 border-slate-600",
            Accent.Brand => "text-gray-200 bg-brand-900 body-font border-b-1 border-brand-600",
            _ => ""
        };

        var heightCss = Height switch
        {
            PureSize.ExtraSmall => "px-5 py-1",
            PureSize.Small => "px-5 py-2",
            PureSize.Medium => "px-5 py-3",
            PureSize.Large => "px-5 py-5",
            PureSize.ExtraLarge => "px-5 py-6",
            _ => ""
        };

        innerContainerCss = $"flex flex-wrap flex-col md:flex-row items-center gap-16 {heightCss}";
    }

}
