@inherits PureComponent
<CascadingValue Value="this">
    <section class="@ApplyStyle("text-gray-900 body-font container mx-auto flex flex-wrap flex-col")">
        <div class="@ApplyStyle("flex mx-auto flex-wrap w-full border-b border-neutral-200")">
            @foreach (var tab in Tabs)
            {
                <PureTabButton Title="@tab.Title" IsActive="@(CurrentTab == tab)" Size="Size" OnClick="() => ChangeTab(tab)" Variant="Variant"/>
            }

        </div>
        <div>
            @ChildContent
        </div>
    </section>
</CascadingValue>

@code {
    [Parameter] public EventCallback OnChanging { get; set; }

    [Parameter] public TabVariant Variant { get; set; }

    [Parameter] public PureSize Size { get; set; } = PureSize.Medium;

    public PureTabContent? CurrentTab { get; set; }
    private string InternalCss { get; set; } = "";


    internal List<PureTabContent> Tabs { get; set; } = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        BuildCss();
    }

    internal void ChangeTab(PureTabContent tab)
    {
        OnChanging.InvokeAsync();
        tab.OnChanging.InvokeAsync();

        CurrentTab = tab;
    }

    protected override void BuildCss()
    {
    }

    internal void AddTab(PureTabContent tab)
    {
        Tabs.Add(tab);

        if (CurrentTab == null)
        {
            CurrentTab = tab;
        }

        StateHasChanged();
    }

}
