@inherits PureComponent

<footer class="bg-white">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="border-t border-gray-200 py-4">
            <p class="text-center text-sm text-gray-500">
                @ChildContent
            </p>
        </div>
    </div>
</footer>

@code {

}
