@if (TabContainer.CurrentTab == this)
{
    <div class="flex flex-col w-full">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter] [EditorRequired] public required PureTabs TabContainer { get; set; }

    [Parameter] public EventCallback OnChanging { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        TabContainer.AddTab(this);
    }

}
