@page "/components/getting-started"
@page "/components/getting-started/installation"
@using Pure.Blazor.Components.Essentials
@using Pure.Blazor.Components.Feedback
@using Pure.Blazor.Components.Icons
@using Pure.Blazor.Components.Essentials
@attribute [PureBlazorPage("components-getting-started")]
@layout DocsLayout
@inject SnippetService SnippetService
<HeadContent>
    <link rel="canonical" href="https://pureblazor.com/components/getting-started/installation"/>
</HeadContent>
<PageTitle>Getting Started - PureBlazor Components</PageTitle>
<PageHeader Id="getting-started" Subtitle="">
    <ChildContent>
        Getting Started
    </ChildContent>
</PageHeader>
<div class="flex flex-col gap-8 mb-8">
    <div>
        <Header2 Styles="mb-4">Installation</Header2>
        <ul role="list" class="divide-y divide-gray-200">
            <li class="px-4 py-4 sm:px-0">
                Install the package from NuGet.
                <pre class="text-sm px-2 pt-3 pb-2 leading-normal rounded border-1 border-gray-200 bg-gray-50">
                    <code>
                        @SnippetService.LoadSnippet("install.md", Languages.PowerShell)
                    </code>
                </pre>

                <PureBanner Styles="my-3 bg-brand-100/50" Icon="PureIcons.IconInfo" ContentContainerStyles="font-medium">If using Standalone WebAssembly, you can install <code class="font-mono">PureBlazor.Components</code>.</PureBanner>
            </li>

            <li class="px-4 py-4 sm:px-0">
                Add the using directives to your _Imports.razor file.
                <pre class="text-sm px-2 pt-3 pb-2 leading-normal rounded border-1 border-gray-200 bg-gray-50">
                    <code class="font-mono">
                        @SnippetService.LoadSnippet("imports.md", Languages.Razor)
                    </code>
                </pre>
            </li>

            <li class="px-4 py-4 sm:px-0">
                Add the stylesheet to your App.razor file.
                <pre class="text-sm px-2 pt-3 pb-2 leading-normal rounded border-1 border-gray-200 bg-gray-50">
                    <code class="font-mono">
                        @SnippetService.LoadSnippet("app-razor.md", Languages.Razor)
                    </code>
                </pre>
            </li>

            <li class="px-4 py-4 sm:px-0">
                Add the following in `Program.cs` to register the services. You must register the services in both Blazor Server and WebAssembly projects.
                <pre class="text-sm px-2 pt-3 pb-2 leading-normal rounded border-1 border-gray-200 bg-gray-50">
                    <code class="font-mono">
                        @SnippetService.LoadSnippet("register-services.md", Languages.CSharp)
                    </code>
                </pre>
            </li>
        </ul>
    </div>
</div>
