@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject IElementUtils ElementUtils
@inject ILogger<MainLayout> Log

<div class="hidden sm:block">
    <PureHeader Accent="Accent.Brand" Height="PureSize.ExtraLarge">
        <Prefix>
            <a href="/">
                <img src="/pureblazor-light.svg" alt="pureblazor logo" class="h-8"/>
            </a>
        </Prefix>
        <ChildContent>
            <a aria-label="GitHub Repository" href="https://github.com/pureblazor/components" target="_blank" class="mr-5 hover:text-white cursor-pointer hidden md:block">
                <img src="GitHub-Mark-Light-64px.png" width="32" alt="GitHub logo"/>
            </a>
        </ChildContent>
    </PureHeader>
</div>
<div class="sm:hidden">
    <PureHeader Accent="Brand" Height="PureSize.ExtraSmall">
        <Prefix>
            <a href="/">
                <img src="/pureblazor-light.svg" alt="pureblazor logo" class="h-8"/>
            </a>
        </Prefix>
    </PureHeader>
</div>
<PureAlertProvider/>
<div class="grid grid-cols-4 gap-4 px-4 sm:pr-8 py-2 sm:py-8">
    <div class="sm:hidden col-span-4">
        <PureVertNav/>
    </div>
    <PureVertNav Styles="hidden sm:block col-span-1 sticky self-start top-0"/>
    <div class="col-span-4 sm:col-span-3 mb-8">
        @Body
    </div>
</div>
<Footer/>

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // Nav.LocationChanged += NavOnLocationChanged;
        }
    }

    private void NavOnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        try
        {
            var uri = Nav.ToAbsoluteUri(Nav.Uri);
            if (!string.IsNullOrWhiteSpace(uri.Fragment) && uri.Fragment.Length > 1)
            {
                Log.LogDebug("Scrolling to fragment {fragment}", uri.Fragment);
                ElementUtils.ScrollToFragment(uri.Fragment.Substring(1));
            }
        }
        catch (Exception ex)
        {
            Log.LogError(ex, "Failed to scroll to fragment");
        }
    }

}
