<PureText Type="Typo.H1" Id="cards">Cards</PureText>
<div>
    <PureText Type="Typo.H3">Default Card with optional image</PureText>
    <MkCard Title="Card Title" Css="mb-8">
        <PureText Type="Typo.Body">
    <MkText Type="Typo.H3">Default Card with optional image</MkText>
    <PureCard Title="Card Title" Css="mb-8">
        <MkText Type="Typo.Body">
            The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.
        </PureText>
        <MkCardFooter>
        </MkText>
        <PureCardFooter>
            <MkButton Color="PureColor.Blue">Default</MkButton>
        </PureCardFooter>
    </PureCard>

    <PureText Type="Typo.H3">Top Aligned Card</PureText>
    <MkCard Title="Card Title" Alignment="PureCardAlignment.Top" ImageUrl="https://picsum.photos/400/300" Css="mb-8">
        <PureText Type="Typo.Body">
    <MkText Type="Typo.H3">Top Aligned Card</MkText>
    <PureCard Title="Card Title" Alignment="PureCardAlignment.Top" ImageUrl="https://picsum.photos/400/300" Css="mb-8">
        <MkText Type="Typo.Body">
            The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.
        </MkText>
        <PureCardFooter>
            <MkButton Color="PureColor.Blue">Default</MkButton>
        </PureCardFooter>
    </PureCard>


    <MkText Type="Typo.H3">Left Aligned Card</MkText>
    <PureCard Title="Card Title" Alignment="PureCardAlignment.Left" ImageUrl="https://picsum.photos/400/300" Css="mb-8">
        <MkText Type="Typo.Body">
            The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.
        </MkText>
        <PureCardFooter>
            <MkButton Color="PureColor.Blue">Default</MkButton>
        </PureCardFooter>
    </PureCard>
    <MkCode Text="@docs" Language="@MkCode.Razor" Caption="Example" Css="my-4"></MkCode>
</div>


@code {

    private string docs = @"<PureCard Title=""Card Title"">
    <MkText Type=""Typo.Body"">
        The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.
    </MkText>
    <PureCardFooter>
        <MkButton Color=""PureColor.Primary"">Default</MkButton>
    </PureCardFooter>
</PureCard>

<PureCard Title=""Card Title"" Alignment=""PureCardAlignment.Top"" ImageUrl=""https://picsum.photos/400/300"">
    <MkText Type=""Typo.Body"">
        The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.
    </MkText>
    <PureCardFooter>
        <MkButton Color=""PureColor.Primary"">Default</MkButton>
    </PureCardFooter>
</PureCard>

<PureCard Title=""Card Title"" Alignment=""PureCardAlignment.Left"" ImageUrl=""https://picsum.photos/400/300"">
    <MkText Type=""Typo.Body"">
        The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.
    </MkText>
    <PureCardFooter>
        <MkButton Color=""PureColor.Primary"">Default</MkButton>
    </PureCardFooter>
</PureCard>";

}