@inject ToastService Service

<PureText Type="Typo.H1" Id="alerts">Alerts</PureText>
<div class="mb-10">
    <PureText Type="Typo.H3">Basic toasts</PureText>
    <PureToast State="PureState.Success">This is a success toast.</PureToast>
    <PureToast State="PureState.Info">This is an informational toast.</PureToast>
    <PureToast State="PureState.Warning">This is a warning toast.</PureToast>
    <PureToast State="PureState.Error">This is an error toast.</PureToast>
</div>
<div class="mb-10">
    <PureText Type="Typo.H3">Demo toasts</PureText>
    <MkButton OnClick="() => AddToast(MkState.Success)">Success toast</MkButton>
    <MkButton OnClick="() => AddToast(MkState.Error)">Error toast</MkButton>
    <MkButton OnClick="() => AddToast(MkState.Info)">Info toast</MkButton>
    <MkButton OnClick="() => AddToast(MkState.Warning)">Warning toast</MkButton>
</div>

@code {

    public async Task AddToast(PureState state)
    {
        await Service.AddToast("Adding random toast", state);
    }

}