<button type="button" id="popover-1" class="flex gap-3 items-center" popovertarget="mypopover">Products <PureIcon Icon="PureIcons.IconChevronDown"/></button>
<div id="mypopover" popover anchor="popover-1">Popover content</div>

@code {

}
