<div class="grid grid-cols-1 h-screen absolute">
    <dialog class="md:min-w-96 p-6 border-1 border-gray-300 gap-8 rounded-sm self-center justify-self-center" id="confirm">
        <div class="flex flex-col gap-6">
            @if (dialog?.Title != null)
            {
                <Header2>@dialog?.Title</Header2>
            }
            <div class="flex justify-end gap-4">
                <PureButton
                    id="dialog_confirm--cancel"
                    Variant="PureVariant.Subtle"
                    OnClick="CancelAsync">
                    Cancel
                </PureButton>

                <PureButton id="dialog_confirm--ack"
                            Variant="PureVariant.Default"
                            Accent="@(dialog?.AckColor ?? DialogDefaults.AckColor)"
                            OnClick="ConfirmAsync">
                    @(dialog?.AckButton ?? DialogDefaults.AckButton)
                </PureButton>
            </div>
        </div>
    </dialog>
</div>
