<Header1 Id="tabs" Subtitle="Use tabs to display groups of discrete data.">
    <ChildContent>
        Tabs
    </ChildContent>
    <Suffix>
        <SupportedRenderModes Wasm="true" Server="true" />
    </Suffix>
</Header1>
<div class="mb-10 flex flex-col gap-6">
    <div>
        <Header2 Styles="py-4">Outline Variant</Header2>
        <PureTabs Variant="TabVariant.Outline" Size="PureSize.Medium">
            <PureTabContent Title="Tab 1">
                <PureCard>
                    tab one content
                </PureCard>
            </PureTabContent>
            <PureTabContent Title="Tab 2">
                <PureCard>
                    tab two content
                </PureCard>
            </PureTabContent>
            <PureTabContent Title="Tab 3">
                <PureCard>
                    tab three content
                </PureCard>
            </PureTabContent>
            <PureTabContent Title="Tab 4">
                <PureCard>
                    tab four content
                </PureCard>
            </PureTabContent>
        </PureTabs>
    </div>
    <div>
        <Header2 Styles="pb-4">Default Variant</Header2>
        <PureTabs>
            <PureTabContent Title="Tab 1">
                <PureCard>
                    tab one content
                </PureCard>
            </PureTabContent>
            <PureTabContent Title="Tab 2">
                <PureCard>
                    tab two content
                </PureCard>
            </PureTabContent>
            <PureTabContent Title="Tab 3">
                <PureCard>
                    tab three content
                </PureCard>
            </PureTabContent>
            <PureTabContent Title="Tab 4">
                <PureCard>
                    tab four content
                </PureCard>
            </PureTabContent>
        </PureTabs>
    </div>

    <PureCode Text="@docs" Language="@PureCode.Razor" Caption="Example" Styles="my-4"></PureCode>
</div>

@code {

    private string docs = @"<PureTabs>
    <PureTabContent Title=""Tab 1"">tab one content</PureTabContent>
    <PureTabContent Title=""Tab 2"">tab two content</PureTabContent>
    <PureTabContent Title=""Tab 3"">tab three content</PureTabContent>
    <PureTabContent Title=""Tab 4"">tab four content</PureTabContent>
</PureTabs>";

}
