@page "/components/buttons"
@using Pure.Blazor.Components.Common

<CascadingValue Value="styles">
    <Header1 Id="buttons">Buttons</Header1>
    <PureButton>Default theme</PureButton>

    <div class="mb-10 flex flex-col gap-6">
        <div>


            @* <Prose>These samples use <code>PureCard</code> inside the tab.</Prose> *@
            <Header2 Styles="py-4">Filled Variant</Header2>
            <DocumentationCard Component="typeof(PureButton)">
                <div class="flex">
                    <PureButton>Default theme</PureButton>
                    <PureButton Accent="Accent.Success">Success</PureButton>
                    <PureButton Accent="Accent.Warning">Warning</PureButton>
                    <PureButton Accent="Accent.Danger">Danger</PureButton>
                    <PureButton Accent="Accent.Default">Default</PureButton>
                </div>
            </DocumentationCard>
        </div>
        <div>
            @* <Prose>These samples use <code>PureCard</code> inside the tab.</Prose> *@
            <Header2 Styles="py-4">Outline Variant</Header2>
            <PureButton Variant="ButtonVariant.Outline" Accent="Accent.Brand">Primary</PureButton>
            <PureButton Variant="ButtonVariant.Outline" Accent="Accent.Success">Success</PureButton>
            <PureButton Variant="ButtonVariant.Outline" Accent="Accent.Warning">Warning</PureButton>
            <PureButton Variant="ButtonVariant.Outline" Accent="Accent.Danger">Danger</PureButton>
            <PureButton Variant="ButtonVariant.Outline" Accent="Accent.Default">Default</PureButton>
        </div>
        <div>
            @* <Prose>These samples use <code>PureCard</code> inside the tab.</Prose> *@
            <Header2 Styles="py-4">Subtle Variant</Header2>
            <PureButton Variant="ButtonVariant.Subtle" Accent="Accent.Brand">Primary</PureButton>
            <PureButton Variant="ButtonVariant.Subtle" Accent="Accent.Success">Success</PureButton>
            <PureButton Variant="ButtonVariant.Subtle" Accent="Accent.Warning">Warning</PureButton>
            <PureButton Variant="ButtonVariant.Subtle" Accent="Accent.Danger">Danger</PureButton>
            <PureButton Variant="ButtonVariant.Subtle" Accent="Accent.Default">Default</PureButton>
        </div>
        <div>
            <Header2 Styles="pb-4">Customized</Header2>
            <CascadingValue Value="theme2">
                <PureButton>Custom theme</PureButton>
            </CascadingValue>
        </div>
        <div>
            <Header2 Styles="pb-4">Headless</Header2>
            <CascadingValue Value="Theme.Off">
                <PureButton>No theme</PureButton>
            </CascadingValue>
            <CascadingValue Value="Theme.Off">
                <PureButton Styles="bg-red-800 text-gray-50 p-8">No theme, custom classes</PureButton>
            </CascadingValue>
        </div>

        @* <PureCode Text="@docs" Language="@PureCode.Razor" Caption="Example" Styles="my-4"></PureCode> *@
    </div>
</CascadingValue>

@code {
    PureStyles styles = new();
    PureStyles theme2 = new CustomStyles();
}
