@page "/components/dropdowns"

<div class="grid grid-cols-4 pt-10">
    <div class="hidden sm:block sm:col-span-1">
        <PureVertNav />
    </div>
    <div class="col-span-4 sm:col-span-3">
        <Header2>Components</Header2>
        <DropdownSample />
    </div>
</div>

@code {

}