@page "/"
@inject ToastService Service
@inject ILogger<Index> Log


<PureBanner Accent="Accent.Brand">This component library is pre-release software.</PureBanner>
<p>PureBlazor Components are the building blocks for the <PureLink Url="https://pureblazor.com">PureBlazor CMS.</PureLink></p>
<PureLink Url="/components/alerts" Styles="w-64" Variant="ButtonVariant.Default">Explore Components</PureLink>
<div class="flex flex-col gap-1">
    <Prose>
        To use these components, install the <code>PureBlazor.Components</code> NuGet package.
    </Prose>
    <PureCode>dotnet add package PureBlazor.Components</PureCode>
    <Prose>
        You will also need to include the
        Tailwind CDN in your <code>App.razor</code> file. Support for including base CSS in the
        package may be added in the future.
    </Prose>
    @* <Paragraph> *@
    @*     For ease of use, include the following in your <PureInlineCode>_Imports.razor</PureInlineCode> file. *@
    @* </Paragraph> *@
    @* <PureCode> *@
    @*     @Markup *@
    @* </PureCode> *@
</div>
